.App {
  text-align: center;
}


.App-header {
  background-image: url("../images/background.jpg");
  background-color: #cbd8f3;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  padding-left: 4ch;
  padding-right: 4ch;
  margin: auto;
}