
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.carouselItem {
    position: relative;
    height: 30vh;
    width: 25ch;
  }

.carouselItemMiddle {
  position: relative;
  height: 45vh;
  width: 40ch;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 8px rgba(153, 134, 134, 0.8);
  padding: 1px;
}

.arrow {
    cursor: pointer;
    top: 45%;
    width: auto;
    padding: 1%;
    margin: 1%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 20px 20px 20px 20px;
    user-select: none;
}

#prev:hover, #next:hover {
  background-color: rgba(56, 56, 56, 0.8);
}

#prev {
  position: absolute;
  left: 2%;
}

#next {
    position: absolute;
    right: 2%;
}


img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
}

* {box-sizing:border-box}

.slideLeft {
  animation: slider 500ms linear 1;
  position: relative;
}

.slideSmall {
  animation: sliderSmall 500ms linear 1;
  position: relative;
}

.slideBig {
  animation: sliderBig 500ms linear 1;
  position: relative;
}

@keyframes sliderSmall {
  75% {
    height: 30vh;
    width: 25ch;
    z-index: 0;
  }
  50% {
    height: 35vh;
    width: 30ch;
    z-index: 0;
  }
  25% {
    height: 40vh;
    width: 35ch;
    z-index: 1;
  }
  0% {
    height: 45vh;
    width: 40ch;
    z-index: 1;
  }
}

@keyframes slider {
  0% {
    height: 30vh;
    width: 25ch;
    z-index: 0;
  }
  25% {
    height: 35vh;
    width: 30ch;
    z-index: 0;
  }
  50% {
    height: 40vh;
    width: 35ch;
    z-index: 1;
  }
  75% {
    height: 45vh;
    width: 40ch;
    z-index: 1;
  }
}

@keyframes sliderBig {
  100% {
    height: 30vh;
    width: 25ch;
  }
  75% {
    height: 30vh;
    width: 25ch;
  }
  50% {
    height: 20vh;
    width: 20ch;
  }
  0% {
    height: 5vh;
    width: 5ch;
  }
}
